.container {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 10px;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.segment-input {
  margin-right: 10px;
}

.header-button {
  margin-left: 10px;
}

.segment-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.segment-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.segment-list-button {
  margin-left: 10px;
}

.map-container {
  flex: 1;
  height: 100%;
}
